@layout('layouts.public')

@section('content')
    <form method="POST" action="/login">
        <input type="text" name="username" />
        <input type="password" name="password" />
        {{ csrfField() }}
        <button type="submit">Login</button>
      </form>
@endsection
