@layout('layouts.app')

@section('content')
  <div id="app-container">
      <section class="section">
        <router-view></router-view>
      </section>
      <v-tour name="pawsTour" :steps="steps" :callbacks="myCallbacks"></v-tour>
  </div>
@endsection
