@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";


// Body
$body-bg: transparentize(#7067CF, .82);

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$primary: #7B287D;
$info: #7067CF;


$navbar-height: 4.25rem;

$input-radius: 0px;


