@import "vars";
@import "fontawesome";
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');


@import "bulma";
body {
  background-color: $body-bg;
  height: 100%;
}

#app-container {
  height: 100vh;
}

body, p, label, input::placeholder, input, textarea, select, option, button {
  font-family: 'Oxygen', 'sans-serif' !important;
}

.navbar-item > h3 {
  color: $primary;
  font-family: "Baloo Paaji", 'sans-serif', 'sans' !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.paw-hero {
  background-image:url(../imgs/public-bg.jpeg) !important;
  background-size: cover !important;
  background-color: transparent !important;
}

.panel-block {
  background-color: #FFF !important;
}

.v-step {
  background: $info !important;
  z-index: 99999 !important;
}

.navbar-item > .button.is-text,
.navbar-item > form > button.is-text, {
  text-decoration: none !important;
}

img.rounded {
  border-radius: 50%;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid $info;
  color:black;
  font-size:90%;
  text-align:right;
}
