@import "vars";
@import "fontawesome";
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');


@import "bulma";
@import "bulma_timeline";

body {
  background-color: $body-bg;
  height: 100%;
}

#app-container {
  height: 100vh;
}

body, p, label, input::placeholder, input, textarea, select, option, button {
  font-family: 'Oxygen', 'sans-serif' !important;
}

.navbar-item > h3 {
  color: $primary;
  font-family: "Baloo Paaji", 'sans-serif', 'sans' !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.paw-hero {
  background-image:url(../imgs/public-bg.jpeg) !important;
  background-size: cover !important;
  background-color: transparent !important;
}

.panel-block {
  background-color: #FFF !important;
}

.v-step {
  background: $info !important;
  z-index: 99999 !important;
}

.navbar-item > .button.is-text,
.navbar-item > form > button.is-text, {
  text-decoration: none !important;
}

.navbar {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

img.rounded {
  border-radius: 50%;
}

.el-card__body > .el-row > .el-col > h1.title {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0px 10px 0px;
}


