<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8" />
     <meta name="csrf_token" content="{{ csrfToken }}" />
      <title>PawTrackers - Pet Dietary, Health & Chronic Disease Management</title>
      {{ style('css/app.bundle') }}
      <script type="text/javascript">
        window.User = {
          "token": {
                      type: '{{ token.type }}',
                      token: '{{ token.token }}'
          }
        }
      </script>
  </head>
  <body class="has-navbar-fixed-top">
    <div id="app">
        <router-view></router-view>
    </div>
    {{ script('js/app.bundle') }}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
        });
    </script>
  </body>
</html>
