<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Adonis Project</title>
      {{ style('css/app.bundle') }}
      <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
  </head>
  <body class="has-navbar-fixed-top">
    @!include('partials.public-nav')

    @!section('content')

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
        const registerBtn = document.getElementById('register-btn')
        registerBtn.addEventListener('click', () => {
            var classString = document.getElementById('register-btn').className;
            var newClass = classString.concat(" is-loading");
            document.getElementById('register-btn').className = newClass;
        })
      });
    </script>
  </body>
</html>
